/* line 2, ../sass/partials/_base.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 6, ../sass/partials/_base.scss */
html {
  font-size: 62.5%;
}

/* line 10, ../sass/partials/_base.scss */
img {
  width: 100%;
  height: auto;
}

/* line 15, ../sass/partials/_base.scss */
ul, ol {
  padding: 0;
  margin: 0;
}

/* line 20, ../sass/partials/_base.scss */
mark {
  padding: 5px 8.5px;
  border-radius: 5px;
}

/* line 25, ../sass/partials/_base.scss */
figure {
  margin: 0;
}

/* line 29, ../sass/partials/_base.scss */
body {
  font-family: "Poppins", Segoe UI, sans-serif;
  font-size: 1.6rem;
  font-size: 16px;
  word-spacing: -.01em;
  letter-spacing: .01em;
  color: #656565;
  width: 100%;
  font-weight: 400;
  position: relative;
  line-height: 1.65;
  background-color: white;
}
/* line 42, ../sass/partials/_base.scss */
body.scroll_lock {
  overflow: hidden;
}

/* Backgrounds */
/* line 49, ../sass/partials/_base.scss */
.bg__white {
  background-color: white !important;
}

/* line 53, ../sass/partials/_base.scss */
.bg__off_white {
  background-color: #f5f5f5 !important;
}

/* line 57, ../sass/partials/_base.scss */
.bg__primary {
  background-color: #FEF5DE !important;
}

/* line 61, ../sass/partials/_base.scss */
.bg__secondary {
  background-color: #FF842B !important;
}

/* line 65, ../sass/partials/_base.scss */
.bg__primary_inverse {
  background-color: #D2D7FF !important;
}

/* line 69, ../sass/partials/_base.scss */
.color__primary {
  color: #FEF5DE !important;
}

/* line 73, ../sass/partials/_base.scss */
.color__secondary {
  color: #FF842B !important;
}

/* line 77, ../sass/partials/_base.scss */
.color__black {
  color: #1B1B3A !important;
}

/* line 81, ../sass/partials/_base.scss */
.color__grey_dark {
  color: #757575 !important;
}

/* line 85, ../sass/partials/_base.scss */
.color__grey {
  color: #EBEBF7 !important;
}

/* line 90, ../sass/partials/_base.scss */
.color__white {
  color: white !important;
}

/* line 94, ../sass/partials/_base.scss */
.text__color_darker {
  color: #353535 !important;
}

/* line 98, ../sass/partials/_base.scss */
.font-sm {
  font-size: 13px !important;
}

/* line 102, ../sass/partials/_base.scss */
.font-default {
  font-size: 16px !important;
}

/* line 106, ../sass/partials/_base.scss */
.font-md {
  font-size: 21px !important;
}

/* line 110, ../sass/partials/_base.scss */
.font-lg {
  font-size: 32px !important;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 110, ../sass/partials/_base.scss */
  .font-lg {
    font-size: 48px !important;
  }
}

/* line 118, ../sass/partials/_base.scss */
.font-heavy {
  font-weight: 900;
  letter-spacing: 0.04em;
}

/* line 123, ../sass/partials/_base.scss */
.font-bold {
  font-weight: 700;
}

/* line 127, ../sass/partials/_base.scss */
.font-regular {
  font-weight: 400;
}

/* line 131, ../sass/partials/_base.scss */
.text_italics {
  font-style: italic;
}

/* line 135, ../sass/partials/_base.scss */
.text-center {
  text-align: center !important;
}

/* line 139, ../sass/partials/_base.scss */
.text-right {
  text-align: right !important;
}

/* line 143, ../sass/partials/_base.scss */
.text-left {
  text-align: left !important;
}

/* line 147, ../sass/partials/_base.scss */
.text_clipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* line 151, ../sass/partials/_base.scss */
.caps_upper {
  text-transform: uppercase !important;
}

/* line 155, ../sass/partials/_base.scss */
.caps_normal {
  text-transform: none !important;
}

/* line 159, ../sass/partials/_base.scss */
.container {
  width: auto;
  position: relative;
  max-width: 1170px;
}

/* line 165, ../sass/partials/_base.scss */
.centered {
  float: none;
  margin: 0 auto;
}

/* line 170, ../sass/partials/_base.scss */
.hidden {
  display: none !important;
}

/* Tablets and phablets */
@media only screen and (max-width: 767px) {
  /* line 175, ../sass/partials/_base.scss */
  .hidden-sm {
    display: none !important;
  }

  /* line 179, ../sass/partials/_base.scss */
  .text-center-sm {
    text-align: center !important;
  }
}
/* Tablets and phablets */
@media only screen and (min-width: 768px) {
  /* line 185, ../sass/partials/_base.scss */
  .visible_sm {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}
/* line 193, ../sass/partials/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* line 202, ../sass/partials/_base.scss */
h1 {
  font-size: 48px;
}

/* line 206, ../sass/partials/_base.scss */
h2 {
  font-size: 32px;
}

/* line 210, ../sass/partials/_base.scss */
h3 {
  font-size: 28px;
}

/* line 214, ../sass/partials/_base.scss */
h4 {
  font-size: 21px;
}

/* line 218, ../sass/partials/_base.scss */
h5 {
  font-size: 18px;
}

/* line 222, ../sass/partials/_base.scss */
h6 {
  font-size: 16px;
}

/* line 226, ../sass/partials/_base.scss */
p {
  margin: 0;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}
/* line 230, ../sass/partials/_base.scss */
p + p {
  padding-top: .5em;
}

/* line 235, ../sass/partials/_base.scss */
address, address span {
  display: block;
}

/* line 239, ../sass/partials/_base.scss */
.margin_top_sm {
  margin-top: 10px !important;
}

/* line 243, ../sass/partials/_base.scss */
.margin_top_md {
  margin-top: 20px !important;
}

/* line 247, ../sass/partials/_base.scss */
.margin_bottom_lg {
  margin-bottom: 30px !important;
}

/* line 251, ../sass/partials/_base.scss */
.margin_bottom_xl {
  margin-bottom: 50px !important;
}

/* line 255, ../sass/partials/_base.scss */
.margin_bottom_sm {
  margin-bottom: 10px !important;
}

/* line 259, ../sass/partials/_base.scss */
.margin_bottom_md {
  margin-bottom: 20px !important;
}

/* line 263, ../sass/partials/_base.scss */
.margin_top_lg {
  margin-top: 30px !important;
}

/* line 267, ../sass/partials/_base.scss */
.margin_top_xl {
  margin-top: 50px !important;
}

/* line 271, ../sass/partials/_base.scss */
.no_margin {
  margin: 0 !important;
}

/* line 275, ../sass/partials/_base.scss */
.padding-top-none {
  padding-top: 0 !important;
}

/* line 279, ../sass/partials/_base.scss */
.sectionDivider {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #FEF5DE;
}

/* SVG Icon systems */
/* line 2, ../sass/partials/_custom_icons.scss */
.cust_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  fill: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 14, ../sass/partials/_custom_icons.scss */
svg {
  display: inline-block;
  width: 100%;
}

/* line 19, ../sass/partials/_custom_icons.scss */
.icon_xs {
  width: 16px;
  height: 16px;
}

/* line 24, ../sass/partials/_custom_icons.scss */
.icon_sm {
  width: 32px;
  height: 32px;
}

/* line 29, ../sass/partials/_custom_icons.scss */
.icon_md {
  width: 24px;
  height: 24px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 29, ../sass/partials/_custom_icons.scss */
  .icon_md {
    width: 48px;
    height: 48px;
  }
}

/* line 39, ../sass/partials/_custom_icons.scss */
.icon_lg {
  width: 64px;
  height: 64px;
}

/* line 44, ../sass/partials/_custom_icons.scss */
.icon_xl {
  width: 64px;
  height: 64px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/partials/_custom_icons.scss */
  .icon_xl {
    width: 128px;
    height: 128px;
  }
}

/* line 54, ../sass/partials/_custom_icons.scss */
.icon_ticket {
  background-image: url(../img/icons/ticket.svg);
}

/* line 58, ../sass/partials/_custom_icons.scss */
.icon_calendar {
  background-image: url(../img/icons/calendar.svg);
}

/* line 62, ../sass/partials/_custom_icons.scss */
.icon_timer {
  background-image: url(../img/icons/timer.svg);
}

/* line 66, ../sass/partials/_custom_icons.scss */
.icon_venue {
  background-image: url(../img/icons/GlobeSimple.svg);
}

/* line 70, ../sass/partials/_custom_icons.scss */
.icon_gift {
  background-image: url(../img/icons/gift.svg);
}

/* line 1, ../sass/partials/_navigation.scss */
a {
  text-decoration: none;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  color: inherit;
}
/* line 6, ../sass/partials/_navigation.scss */
a:hover, a:focus {
  color: #FEF5DE;
  text-decoration: none;
}
/* line 12, ../sass/partials/_navigation.scss */
a:focus {
  outline: thin dotted #FEF5DE;
}
/* line 14, ../sass/partials/_navigation.scss */
.no-touch a:focus {
  outline: none;
}

/* line 20, ../sass/partials/_navigation.scss */
a:link,
button {
  -webkit-tap-highlight-color: rgba(254, 245, 222, 0.35);
  -moz-tap-highlight-color: rgba(254, 245, 222, 0.35);
}

/* line 26, ../sass/partials/_navigation.scss */
button {
  outline: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: auto;
  height: auto;
  color: inherit;
  background: 0 0;
  cursor: pointer;
  text-align: center;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/* line 39, ../sass/partials/_navigation.scss */
button:focus, button:visited {
  outline: none;
}

/* line 44, ../sass/partials/_navigation.scss */
.btn {
  border-radius: 15px;
  padding: 1em 2em;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  color: #f5f5f5;
  fill: #f5f5f5;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  box-shadow: 0px 0px 0px transparent;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  text-decoration: none !important;
  will-change: background-color, color;
  /* Tablets and phablets */
}
/* line 65, ../sass/partials/_navigation.scss */
.btn + [class*="btn"], .btn + [class*="Btn"] {
  margin-left: 1.5em;
}
/* line 69, ../sass/partials/_navigation.scss */
.btn > * + * {
  margin-left: 10px;
}
@media only screen and (min-width: 768px) {
  /* line 44, ../sass/partials/_navigation.scss */
  .btn {
    min-width: 100px;
  }
}
/* line 77, ../sass/partials/_navigation.scss */
.btn:hover, .btn:focus {
  text-decoration: none !important;
}
/* line 81, ../sass/partials/_navigation.scss */
.no-touch .btn:hover, .no-touch .btn:focus {
  outline: none;
}
/* line 86, ../sass/partials/_navigation.scss */
.btn[disabled], .btn.disabled {
  pointer-events: none;
  color: #f5f5f5;
  background-color: #959595;
}

/* line 93, ../sass/partials/_navigation.scss */
.btn-primary {
  background-color: #FEF5DE;
  color: #EBEBF7;
  fill: #EBEBF7;
}
/* line 98, ../sass/partials/_navigation.scss */
.btn-primary:hover, .btn-primary:focus {
  background-color: #1B1B3A;
  color: #f5f5f5;
}

/* line 105, ../sass/partials/_navigation.scss */
.btn-secondary {
  background-color: #FF842B;
  color: #1B1B3A;
  fill: #1B1B3A;
}
/* line 110, ../sass/partials/_navigation.scss */
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #1B1B3A;
  color: #f5f5f5;
}

/* line 117, ../sass/partials/_navigation.scss */
.btn-default {
  background-color: transparent;
  color: inherit;
  fill: inherit;
}
/* line 122, ../sass/partials/_navigation.scss */
.btn-default:hover, .btn-default:focus {
  background-color: #EBEBF7;
  color: #FEF5DE;
  fill: #FEF5DE;
}

/* line 130, ../sass/partials/_navigation.scss */
.btn-sm.btn,
.btn-group-sm > .btn {
  font-size: 12px;
}

/* line 135, ../sass/partials/_navigation.scss */
.btn-lg.btn,
.btn-group-lg > .btn {
  font-size: 18px;
}

/* line 140, ../sass/partials/_navigation.scss */
.btn-link {
  cursor: pointer;
  font-size: 1em;
  display: inline-block;
  text-decoration: underline;
  color: #FEF5DE;
}
/* line 147, ../sass/partials/_navigation.scss */
.btn-link:hover, .btn-link:focus {
  color: inherit;
  text-decoration: none;
}
/* line 153, ../sass/partials/_navigation.scss */
.btn-link:active, .btn-link[disabled] {
  color: #757575;
  outline: none;
}

/* line 159, ../sass/partials/_navigation.scss */
.dialogDismiss {
  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  z-index: 1000;
}

/* line 167, ../sass/partials/_navigation.scss */
.close_dialog {
  z-index: 5;
  width: 30px;
  height: 30px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  position: relative;
}
/* line 176, ../sass/partials/_navigation.scss */
.close_dialog::before, .close_dialog::after {
  position: absolute;
  content: "";
  width: 2px;
  background: #959595;
  height: 14px;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -1px;
}
/* line 187, ../sass/partials/_navigation.scss */
.close_dialog::before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 190, ../sass/partials/_navigation.scss */
.close_dialog::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 193, ../sass/partials/_navigation.scss */
.close_dialog:hover, .close_dialog:focus {
  background-color: #EBEBF7;
}
/* line 196, ../sass/partials/_navigation.scss */
.close_dialog:hover::before, .close_dialog:hover::after, .close_dialog:focus::before, .close_dialog:focus::after {
  background-color: #656565;
}

/* line 203, ../sass/partials/_navigation.scss */
.store_btn {
  display: block;
  opacity: 1;
  margin: 0;
  overflow: hidden;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease-in-out 0s;
}
/* line 210, ../sass/partials/_navigation.scss */
.store_btn:hover, .store_btn:focus {
  opacity: .9;
  margin-top: -4px;
}

/* line 1, ../sass/partials/_header_nav.scss */
.brand_details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
}
/* line 5, ../sass/partials/_header_nav.scss */
.brand_details > * + * {
  margin-left: 30px;
}

/* line 10, ../sass/partials/_header_nav.scss */
.brand_img {
  display: block;
}
/* line 13, ../sass/partials/_header_nav.scss */
header[role="banner"] .brand_img {
  height: 60px;
}

/* line 18, ../sass/partials/_header_nav.scss */
.logo_link {
  padding: 0;
  display: inline-block;
  line-height: 60px;
  width: 170px;
  position: relative;
  height: 100%;
}
/* line 26, ../sass/partials/_header_nav.scss */
.logo_link > img {
  vertical-align: middle;
  display: inline-block;
}

/* line 32, ../sass/partials/_header_nav.scss */
.partnerInfo {
  padding-left: 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 37, ../sass/partials/_header_nav.scss */
.partnershipLabel {
  opacity: .5;
}

/* line 41, ../sass/partials/_header_nav.scss */
.parnerName {
  opacity: .75;
}

/* line 1, ../sass/partials/_heroes.scss */
.hero_area {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 1, ../sass/partials/_heroes.scss */
  .hero_area {
    min-height: 450px;
    max-height: 1200px;
  }
}

/* line 17, ../sass/partials/_heroes.scss */
.hero_area {
  padding: 4rem 0 7rem;
  /* Tablets and phablets */
}
/* line 21, ../sass/partials/_heroes.scss */
.hero_area .container {
  z-index: 10;
}
@media only screen and (min-width: 768px) {
  /* line 17, ../sass/partials/_heroes.scss */
  .hero_area {
    padding-bottom: 11rem;
  }
}

/* line 30, ../sass/partials/_heroes.scss */
.home_hero {
  background-color: #1B1B3A;
  background-image: url(../img/banners/hero_bg.jpg);
}

/* line 35, ../sass/partials/_heroes.scss */
.heroContentWrapper {
  z-index: 10;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}

/* line 43, ../sass/partials/_heroes.scss */
.hero_title {
  font-size: 42px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 43, ../sass/partials/_heroes.scss */
  .hero_title {
    font-size: 56px;
  }
}

/* line 52, ../sass/partials/_heroes.scss */
.hero_blub {
  font-weight: 400;
  font-size: 16px;
  color: inherit;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 52, ../sass/partials/_heroes.scss */
  .hero_blub {
    font-size: 21px;
  }
}

/* line 62, ../sass/partials/_heroes.scss */
.bannerAbsolute {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 62, ../sass/partials/_heroes.scss */
  .bannerAbsolute {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    height: 100%;
  }
}
/* line 74, ../sass/partials/_heroes.scss */
.bannerAbsolute img {
  width: 100%;
}

/* line 1, ../sass/partials/_sections.scss */
.mainContentArea {
  position: relative;
  width: 100%;
  background-color: white;
  height: 100%;
}
/* line 7, ../sass/partials/_sections.scss */
.mainContentArea.is_active {
  overflow: hidden;
}

/* line 12, ../sass/partials/_sections.scss */
.section_block {
  padding: 70px 0 30px;
  display: block;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
/* line 20, ../sass/partials/_sections.scss */
.section_block .container {
  z-index: 5;
}

/* line 25, ../sass/partials/_sections.scss */
.section_cto {
  margin-top: 40px;
  clear: both;
}

/* line 30, ../sass/partials/_sections.scss */
.section_header {
  position: relative;
  margin-bottom: 40px;
}

/* line 35, ../sass/partials/_sections.scss */
.title {
  line-height: 1.45;
  font-size: 14px;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 35, ../sass/partials/_sections.scss */
  .title {
    font-size: 18px;
  }
}

/* line 45, ../sass/partials/_sections.scss */
.title_sm {
  font-size: 16px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 45, ../sass/partials/_sections.scss */
  .title_sm {
    font-size: 21px;
  }
}

/* line 53, ../sass/partials/_sections.scss */
.title_md {
  font-size: 21px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 53, ../sass/partials/_sections.scss */
  .title_md {
    font-size: 32px;
  }
}

/* line 61, ../sass/partials/_sections.scss */
.title_lg {
  font-size: 32px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 61, ../sass/partials/_sections.scss */
  .title_lg {
    font-size: 42px;
  }
}

/* line 69, ../sass/partials/_sections.scss */
footer[role="contentinfo"] {
  width: 100%;
  clear: both;
}

/* line 74, ../sass/partials/_sections.scss */
.pageFooter {
  padding: 50px 0;
  text-align: center;
  font-size: 14px;
  color: rgba(245, 245, 245, 0.6);
  background-color: #1B1B3A;
}

/* line 82, ../sass/partials/_sections.scss */
.footerTop {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(254, 245, 222, 0.25);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 82, ../sass/partials/_sections.scss */
  .footerTop {
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) {
  /* line 82, ../sass/partials/_sections.scss */
  .footerTop {
    justify-content: space-between;
    align-items: center;
  }
}

/* line 99, ../sass/partials/_sections.scss */
.filteNav {
  padding: 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 99, ../sass/partials/_sections.scss */
  .filteNav {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* line 108, ../sass/partials/_sections.scss */
.msFtNav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 114, ../sass/partials/_sections.scss */
.msFtNavItem {
  padding: 0 10px;
}

/* line 118, ../sass/partials/_sections.scss */
.socialLinks {
  clear: both;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 118, ../sass/partials/_sections.scss */
  .socialLinks {
    justify-content: center;
  }
}

/* line 127, ../sass/partials/_sections.scss */
.socialLinkItem {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .6;
  background-color: transparent;
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease-in-out 0s;
}
/* line 135, ../sass/partials/_sections.scss */
.socialLinkItem + .socialLinkItem {
  margin-left: 20px;
}
/* line 139, ../sass/partials/_sections.scss */
.socialLinkItem:hover, .socialLinkItem:focus {
  opacity: 1;
}

/* line 1, ../sass/partials/_lists.scss */
.media_item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}

/* line 6, ../sass/partials/_lists.scss */
.media_figure {
  position: relative;
  flex-shrink: 0;
  margin-right: 20px;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 6, ../sass/partials/_lists.scss */
  .media_figure {
    margin-right: 15px;
  }
}

/* line 16, ../sass/partials/_lists.scss */
.media_info {
  flex: 1;
}

/* line 20, ../sass/partials/_lists.scss */
.iconBox {
  height: 32px;
  width: 32px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  vertical-align: middle;
  box-sizing: border-box;
  flex: 0 0 auto;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  background-color: #f5f5f5;
  fill: #FEF5DE;
  /* Tablets and phablets */
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 20, ../sass/partials/_lists.scss */
  .iconBox {
    width: 48px;
    height: 48px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 44, ../sass/partials/_lists.scss */
  .iconBox .cust_icon {
    width: 20px;
    height: 20px;
  }
}

/* line 51, ../sass/partials/_lists.scss */
.avi_avg {
  height: 32px;
  width: 32px;
}

/* line 56, ../sass/partials/_lists.scss */
.avi_sm {
  height: 24px;
  width: 24px;
  font-size: 14px;
}

/* line 62, ../sass/partials/_lists.scss */
.avi_md {
  width: 48px;
  height: 48px;
  font-size: 16px;
}

/* line 68, ../sass/partials/_lists.scss */
.avi_lg {
  width: 64px;
  height: 64px;
  font-size: 21px;
}

/* line 74, ../sass/partials/_lists.scss */
.avi_large {
  width: 64px;
  height: 64px;
  font-size: 21px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 74, ../sass/partials/_lists.scss */
  .avi_large {
    width: 96px;
    height: 96px;
    font-size: 48px;
  }
}

/* line 86, ../sass/partials/_lists.scss */
.infoTileItem {
  margin-top: 30px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 91, ../sass/partials/_lists.scss */
  .no-gutters .infoTileItem + .infoTileItem {
    border-left: 2px solid #FEF5DE;
  }
}

/* line 98, ../sass/partials/_lists.scss */
.infoTileWrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}

/* line 105, ../sass/partials/_lists.scss */
.infoTileInner {
  font-size: 14px;
}

/* line 109, ../sass/partials/_lists.scss */
.useCaseWrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}

/* line 116, ../sass/partials/_lists.scss */
.tileBannerImg {
  display: block;
  border-radius: 15px;
  overflow: hidden;
}

/* line 1, ../sass/partials/_dialogs.scss */
.dropdown-menu {
  font-size: 1em;
  box-sizing: border-box;
  visibility: hidden;
  z-index: 1000;
  max-width: 460px;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  color: #757575;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-animation: panel-slide-down .6s ease-in-out forwards;
  animation: panel-slide-down .6s ease-in-out forwards;
  overflow: hidden;
  border: none;
}
/* line 19, ../sass/partials/_dialogs.scss */
.dropdown-menu.show {
  visibility: visible;
}
/* line 23, ../sass/partials/_dialogs.scss */
.dropdown-menu li {
  display: block;
  padding: 0;
  margin: 0;
}
/* line 28, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *, .dropdown-menu li > a {
  padding: 10px 15px;
  display: flex;
  width: 100%;
  font-size: 14px;
  color: #656565;
  text-transform: capitalize;
  line-height: normal;
  align-items: center;
  white-space: nowrap;
}
/* line 39, ../sass/partials/_dialogs.scss */
.dropdown-menu li > *:hover, .dropdown-menu li > a:hover {
  background: #EBEBF7;
  color: #1B1B3A;
}
/* line 45, ../sass/partials/_dialogs.scss */
.dropdown-menu li .cust_icon {
  width: 24px;
  height: 24px;
}

@keyframes panel-slide-down {
  0%,30% {
    margin-top: -15px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
/* line 63, ../sass/partials/_dialogs.scss */
.dropdown-toggle::after {
  display: none;
}

/* line 67, ../sass/partials/_dialogs.scss */
.tooltip .arrow::before {
  border-top-color: #1B1B3A !important;
}

/* line 71, ../sass/partials/_dialogs.scss */
.tooltip-inner {
  font-size: 12px;
  background-color: #1B1B3A;
  border-radius: 5px;
  padding: 6px 12px;
}

/* line 78, ../sass/partials/_dialogs.scss */
.modal-backdrop {
  background-color: black;
  display: none;
}

/* line 83, ../sass/partials/_dialogs.scss */
.modal-content {
  border-radius: 15px;
}

/* line 87, ../sass/partials/_dialogs.scss */
.modal-dialog {
  z-index: 2000;
  max-width: 520px;
  /* Tablets and phablets */
}
@media only screen and (max-width: 767px) {
  /* line 87, ../sass/partials/_dialogs.scss */
  .modal-dialog {
    margin-right: 15px;
    margin-left: 15px;
  }
}

/* line 97, ../sass/partials/_dialogs.scss */
.modal {
  z-index: 3000;
}
/* line 100, ../sass/partials/_dialogs.scss */
.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.95);
  padding: none !important;
}
/* line 105, ../sass/partials/_dialogs.scss */
.modal .modal-header {
  border-bottom: none;
  padding: 20px 15px 0;
  justify-content: flex-start;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 105, ../sass/partials/_dialogs.scss */
  .modal .modal-header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 116, ../sass/partials/_dialogs.scss */
.modal .modal-body {
  position: relative;
  padding: 30px 15px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 116, ../sass/partials/_dialogs.scss */
  .modal .modal-body {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 126, ../sass/partials/_dialogs.scss */
.modal .modal-footer {
  border-top: none;
  padding: 0 15px 10px;
}

/* line 132, ../sass/partials/_dialogs.scss */
.modal-title {
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", Segoe UI, sans-serif;
  text-transform: uppercase;
}
